body{
    width: 1000px;
    height: 800px;
}





html{
    scroll-behavior: smooth;
}


ul{
    position: fixed;
}


button{
    width: 100px;
    height: 50px;
}


.block{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap:10px;

}

.block-commentaire, .block-difficulté{
  width: 450px;
  height: 250px;
  background-color:#CC0033; 
}

.block-titre-commentaire  , .block-titre-difficulté {
  font-size: 40px;
  color: white;
  text-align: center;

  
}

.block-paragraphe-commentaire , .block-paragraphe-difficulté{
  display: block;
  width:350x;
  
}



.commentaire{
  text-align: left;
  margin-top: 20px;
  color: lightgreen;
}












