body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.container {
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden; /* Cache les parties qui sortent */
    cursor: pointer;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Adapte l'image sans déformation */
}

.rideau {
    position: absolute;
    top: 0;
    width: 50%; /* Chaque moitié couvre la moitié */
    height: 100%;
    background-color: red; /* Le rectangle rouge */
    transition: transform 0.8s ease-in-out; /* Transition fluide */
}

.gauche {
    left: 0;
    transform: translateX(0); /* Position initiale */
}

.droite {
    right: 0;
    transform: translateX(0); /* Position initiale */
}

        /* Au survol du container, on écarte les deux parties */
.container:hover .gauche {
    transform: translateX(-100%);
}

.container:hover .droite {
    transform: translateX(100%);
}


.block{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap:10px;

}

.block-commentaire, .block-difficulté{
  width: 450px;
  height: 250px;
  background-color:#CC0033; 
}

.block-titre-commentaire  , .block-titre-difficulté {
  font-size: 40px;
  color: white;
  text-align: center;

  
}

.block-paragraphe-commentaire , .block-paragraphe-difficulté{
  display: block;
  width:350x;
  
}

.commentaire{
    color: lightgreen;
    margin-top: 20px;
    font-size: 16px;
}

