#container {
    display: grid;
    height: 50Vh;
    grid-template-columns: repeat(5, 1fr); /* 6 colonnes égales */
    grid-template-rows: repeat(5, 100px);  /* 6 lignes de 100px chacune */
    
    
  }
  
#item1,#item2,#item3,#item4,#item5,#item6,#item7,#item8,#item9{
    display: flex;
    justify-content: center;
    align-items: center;
    

    
    
    
}
#item1{
    background-color: #f16b08;
    grid-column: 3 / 4;
    grid-row: 3/ 4;
    
    
   

    
    

}

#item2{
    background-color: #b2f109;
    grid-row:2 / 4;
    grid-column: 4 / 5;
    
}

#item3{
    background-color: #23f109;
    grid-column: 2 / 4;
   
    
}

#item4{
    background-color: #3050f0;
    grid-column: 2 / 3;
    grid-row: 3 / 5; 
    
}

#item5{
    background-color: pink;
    grid-column: 3 / 6;
    grid-row: 4 / 5;
    
}

#item6{
    background-color: #0af1ad;
    
    grid-column:5 / 6;
    grid-row:1 / 4;
    
}

#item7{
    background-color: #e8f571;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    



}

#item8{
    background-color:#31838f;
    grid-column: 1 / 2;
    grid-row: 2 / 6;
    
    
}

#item9{
    background-color:#99ffff ;
    grid-column:2 / 6;
    grid-row:5 / 6 ;
    
    
}


div.block{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap:10px;

}

div.block-commentaire, div.block-difficulté{
  width: 450px;
  height: 250px;
  background-color:#CC0033; 
}

div.block-titre-commentaire  , div.block-titre-difficulté {
  font-size: 40px;
  color: white;
  text-align: center;

  
}

div.block-paragraphe-commentaire , div.block-paragraphe-difficulté{
  display: block;
  width:350x;
  
}

p{
  margin-top: 20px;
  color:lightgreen ;
  font-size: 20px;
}

