body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 200vh; /* Assure qu'il y a assez de contenu pour scroller */
 }

.content {
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
}

.helix {
    position: fixed;
    top: 50px;      
    right: 50px;    
    width: 200px;   /* Taille de ton hélice – ajuste si besoin */
    height: auto;
    z-index: 100;
    animation: none; /* Arrêtée par défaut */
    transition: animation 0.3s ease;
}



.rotating {
    animation: rotate 2s linear infinite;
}

        /* Animation de rotation continue */
    @keyframes rotate {
         from {
            transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }


.block{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap:10px;

}

.block-commentaire, .block-difficulté{
  width: 450px;
  height: 250px;
  background-color:#CC0033; 
}

.block-titre-commentaire  , .block-titre-difficulté {
  font-size: 40px;
  color: white;
  text-align: center;

  
}

.block-paragraphe-commentaire , .block-paragraphe-difficulté{
  display: block;
  width:350x;
  
}

.commentaire{
    color: lightgreen;
    margin-top: 20px;
    font-size: 16px;
}